.blog-article-preview {
    border-left: var(--xs) solid var(--tertiary);
    padding-left: var(--xs);
    position: relative;

    & .banner {
        position: absolute; top: 0; left: 0; right: 0; bottom: 0;
        overflow: hidden;
        z-index: -1;

        & img {
            width: 100%;
            height: auto;
            max-height: 100%;
            object-fit: cover;
            mask-image: linear-gradient(-92deg, rgba(0,0,0,1), rgba(0,0,0,0));
        }
    }

    & .pre-heading {
        font-style: italic;
    }
}

.mid-section-tile {
    font-size: var(--xl);
    gap: 0 !important;

    &.double {
        justify-content: space-around;
        grid-column: 1 / span 2;
    }

    &.grid {
        grid-template-columns: auto 1fr;
    }

    & b {
        font-size: var(--xxl);
    }

    & img {
        height: calc(2 * var(--xxl));
        padding: var(--m);
    }

    & span {
        display: block;
        text-align: center;
    }
}
